version: "3.9"

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
      platform: linux/arm64
    container_name: nextjs-app
    ports:
      - "37123:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    restart: unless-stopped
